@import '../../common';

.item {
    display: flex;
    align-items: center;
    height: 36px;
    cursor: pointer;

    &-icon {
        margin-left: 8px;
        margin-right: 8px;
    }

    &-active {
        background: $tool-color;
        color: #fff;
    }

    &-color {
        position: relative;
        width: 12px;
        height: 12px;
        border-radius: 2px;

        &-picker {
            position: absolute;
            top: 12px;
            left: 12px;
            z-index: 1;
        }
    }

    &-disabled {
        opacity: 0.3;
        cursor: not-allowed;

        &:hover {
            background: transparent;
        }
    }
}