.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    background: #fff;
    border-radius: 5px;
}

.title {
    margin-bottom: 8px;
}

.line {
    margin-bottom: 8px;
    line-height: 36px;

    input {
        margin-left: 15px;
        height: 20px;
    }
}

.button {
    margin: 16px auto 0;
    padding: 0 12px;
    width: 68px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    background: lightskyblue;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}
