@import '../../common';

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
        background: $tool-color;
    }

    &-disabled {
        opacity: 0.3;
        cursor: not-allowed;

        &:hover {
            background: transparent;
        }
    }
}